[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.1" # better to lock ptb version - we are being "tricky" about making it work in lambda
elasticsearch = ">=7.0.0,<8.0.0" # https://elasticsearch-py.readthedocs.io/en/latest/#compatibility
requests-aws4auth = "*"

[dev-packages]
jupyterlab = "*"
pyyaml = "*"
boto3 = "*"
jedi = "<0.18.0" # TODO oleksandr: replace this with !=0.18.0 ? (0.18.0 breaks completer in jupyterlab)
jupyter-kite = "*"
flask = "*"
ipdb = "*"

[requires]
python_version = "3.8"
